python/data/raw/
python/data/processed/.ipynb_checkpoints/detection_log.txt
detection_log.txt
ids.log
python/notebooks/hybrid_lstm_cnn_model.pth
python/my_venv


main
/my_venv
python/.ipynb_checkpoints/
python/utils/.ipynb_checkpoints/
ips_gui/
draftcode/
sniffer
python/notebooks/split_data
python/notebooks/.ipynb_checkpoints
.ipynb_checkpoints/
network_features.csv
packet_log.csv
python/data/processed/processed_data.csv
.vscode/
packages.microsoft.gpg
